<!-- Inspired from https://codepen.io/fcasantos/pen/LJXeKP -->
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
      type="text/css"
      media="all"
    />
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
  </head>
  <body style="background-color: black; color: white">
    <div class="wrapper">
      <div class="box">
        <h1>500</h1>
        <p>Sorry, it's me, not you.</p>
        <p>&#58;&#40;</p>
        <a href="/" class="button-55">Let me try again!</a>
      </div>
    </div>
  </body>
</html>
