<!-- Inspired from https://codepen.io/fcasantos/pen/LJXeKP -->
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
      type="text/css"
      media="all"
    />
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
  </head>
  <body style="background-color: black; color: white">
    <div class="wrapper">
      <div class="box box2">
        <h1>404</h1>
        <p>You Lost?</p>
        <a href="/" class="button-55">Go Home</a>
      </div>
    </div>
  </body>
</html>
